params {
    workflow                = null // submit_new | biosample_edit | get_accessions
    submission_type         = "Test" // "Test" | "Production"
    meta_package            = "OneHealthEnteric.1.0" // "OneHealthEnteric.1.0" | "Pathogen.cl.1.0"
    submission_yaml         = "/submission_config.yml" // path to yaml with NCBI (S)FTP address and credentials
    submission_db           = "both" // "biosample" | "sra" | "both"
    protocol                = "sftp" // "ftp" | "sftp"
    max_retries             = 50 // number of retries before aborting the accession retrieval
    wait_time               = 300 // time between retries in seconds
    metadata_csv            = null // csv for submissions
    edit_csv                = null // csv for edits
    accessions_csv          = null // csv with samples for which accessions should be retrieved
    publish_dir             = null // path to write outputs
}
